@font-face {
	font-family: 'RobotoCon-Thin';
	src: url(fonts/RobotoCondensed-Thin.ttf);
}

@font-face {
	font-family: 'RobotoCon-Reg';
	src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
	font-family: 'RobotoCon-Med';
	src: url(fonts/RobotoCondensed-Medium.ttf);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


 @keyframes blink {
        0% {
         background: radial-gradient(
		circle,
		var(--white) 0%,
		var(--white) 50%,
		var(--white) 100%
	);
        }
        100% {
          background: var(--colour1);
        }
      }

:root {
	--menu: 'Roboto Flex', sans-serif;
	--body: 'Roboto', sans-serif;
	--filter: 'Roboto Mono', serif;
	--schedule1: 'RobotoCon-Thin', 'Arial Narrow', serif;
	--schedule2: 'RobotoCon-Reg', 'Arial Narrow', serif;
	--schedule3: 'RobotoCon-Med', 'Arial Narrow', serif;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	--black: #0f0f0f;
	--text-color: #0f0f0f;
	--grey1: #8c8c8c;
	--grey2: #b0b0b0;
	--white: #ffffff;
	--colour1: #a6ff00;
	--colour2: #ffa126;
	--colour3: #fff200;
	--yellow1: #fff200;
	--yellow2: #fff98b;
	--yellow3: #eee986;
	--green1: #a6ff00;
	--green2: #deffa0;
	--green3: #d3f19c;
	--blue1: #57fff4;
	--blue2: #b9fffa;
	--blue3: #5ce3fb;
	--orange1: #ffa126;
	--orange2: #ffba66;
	--orange3: #ebaa5c;
	--fade-in-effect: fadeIn 1s;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	font-size: 16px;
	font-family: var(--body-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

::selection {
	background: var(--black);
	color: var(--white);
}

html {
	scroll-behavior: smooth;
}
html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/* --------centered menu-------- */

.top-menu2 .top-menu-nav {
	padding: 0 1rem 1rem 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	/* background: rgba(255, 255, 255, 0); */
	z-index: 3;
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255) 89%,
		rgba(255, 255, 255, 0)
	);
}

.top-menu2 .top-menu-nav div {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	font-family: var(--menu);
}

.top-menu2 .top-menu-nav .home {
	transform: translateY(-5%);
}

.top-menu2 .top-menu-nav .home span {
	display: inline-flex;
	padding: 1rem 0;
}

.top-menu2 .top-menu-nav .home h1 {
	font-size: 1.25rem;
}

.top-menu2 .top-menu-nav .home h1 + h1 {
	font-weight: bold;
}

.top-menu2 .top-menu-nav .secondary-menu,
.top-menu2 .top-menu-nav .lang {
	align-content: baseline;
	justify-content: flex-end;
}

/* .top-menu2 .top-menu-nav .nested-menu article:hover {
	paint-order: stroke fill;
	color: var(--black);
	-webkit-text-stroke-color: var(--black);
	-webkit-text-stroke-width: calc(0.125rem + 0.025vw);
	cursor: pointer;
	transition: linear 0.25s;
} */

/* .top-menu2 .top-menu-nav .nested-menu h1 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}

.top-menu2 .top-menu-nav .nested-menu--active {
	-webkit-text-stroke-color: var(--black);
	-webkit-text-stroke-width: calc(0.125rem + 0.025vw);
} */

.top-menu2 .top-menu-nav .secondary-menu h1 {
	text-decoration: underline;
	text-underline-offset: 3px;
	font-weight: 500;
	text-decoration-thickness: 1.5px;
}

.top-menu-nav article {
	padding: 1rem;
}

.top-menu-nav h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}

.top-menu-nav .secondary-menu h1::first-letter,
.top-menu-nav .lang h1::first-letter {
	text-transform: capitalize;
}

.top-menu2 .top-menu-nav .lang h1 {
	padding: 1rem 0 1rem 1rem;
}

.top-menu2 .top-menu-nav .lang a:first-child {
	font-weight: bold;
}

.top-menu2 .top-menu-nav .lang a:first-child::after {
	color: var(--black);
	content: '/';
	margin: 0 0.25rem;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.top-menu2 .top-menu-nav .lang a + a {
	color: var(--grey1);
}

.menu__wrapper {
	z-index: 3;
	position: relative;
	position: fixed;
}

.width,
.height {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	border: 0.5px solid var(--text-color);
}

.width {
	width: 100vw;
}

.height {
	height: 100vh;
}

.menu__items {
	position: fixed;
	transform: translate(-50%, -50%);
	text-align: center;
	display: grid;
	font-family: var(--tertiary-font);
}

.menu__items a {
	margin: -0.5px auto;
	text-decoration: none;
	color: var(--text-color);
	text-transform: uppercase;
	/* font-weight: 600; */
	background-color: var(--white-color);
	border: 1px solid var(--text-color);
	border-radius: 1rem;
	width: min-content;
	padding: 0.15rem 0.55rem;
}

.menu__items a:hover {
	background-color: var(--text-color);
	color: var(--white-color);
}

.landing-page3.top-menu2 .nested-menu article,
.landing-page3.top-menu2 .secondary-menu article:nth-last-of-type(1) {
	display: none;
}

.landing-page3.top-menu2 .top-menu-nav .nested-menu {
	justify-content: space-evenly;
}

.landing-page3.top-menu2 .nested-menu::before {
	content: 'Soutien aux artistes en danse et performance indisciplinees a montreal depuis 1989.';
	width: 30%;
	min-width: 350px;
	padding-top: 1rem;
}

.landing-page3.top-menu2 .nested-menu::after {
	content: 'Lundi - Vendredi 9:00 - 16:00h Tiohtià:ke / Montreal';
	width: 20%;
	min-width: 250px;
	padding-top: 1rem;
}

.landing-page3 .landing-menu {
	/* font-size: 4rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	height: auto;
	min-height: 85vh;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	position: absolute;
}

.landing-page3 .landing-menu span {
	padding: 1rem;
	margin: 0 auto;
	/* width: min-content; */
	width: 100%;
	font-family: var(--body);
	/* display: grid;
	grid-template-columns: min-content auto; */
	/* border-bottom: 3px solid var(--colour1); */
	/* border-radius: 1rem; */

	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.landing-page3 .landing-menu .landing--divider {
	/* border-bottom: 3px solid var(--colour1); */
	/* width: 6rem;
		height: 2rem;
		background: var(--colour1); */
	/* border-radius: 1rem; */
	border-radius: 100%;
	margin: 0 auto;

	background: var(--colour1);
	/* background: radial-gradient(circle,var(--colour1) 0%, var(--colour3) 50%, var(--colour1) 100%); */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-page3 .landing-menu span div {
	/* align-items: center; */
	display: flex;
	/* flex-direction: column; */
	/* flex-direction: row; */
	/* mix-blend-mode: darken; */
	/* justify-content: center; */
margin-top: 1rem;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.landing-page3 .landing-menu div a {
	/* margin-right: 1rem; */
	font-weight: 600;
	cursor: pointer;
	margin: 1px 0;
	background: #ffffffe8;
  border-radius: 1rem;
  padding: 0 1.25rem 0 0.5rem;
  /* border: 1px solid var(--white); */
	border: 1px solid var(--colour1);
	z-index: 1;
}

.landing-page3 .landing-menu div .blink--on::before {
background: var(--white);
animation: blink 1.5s ease-in-out infinite;
border: 1px solid var(--colour1);
	content: ' ';
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.25rem;
	border-radius: 1rem;
	display: inline-block;
	transform: translateY(-20%);
	vertical-align: middle;
	background: var(--white);

	/* background: radial-gradient(
		circle,
		var(--white) 0%,
		var(--white) 50%,
		var(--white) 100%
	); */

}

.landing-page3 .landing-menu div .blink--on:hover:before {

background: radial-gradient(
		circle,
		var(--colour1) 0%,
		var(--white) 50%,
		var(--colour1) 100%
	);
animation: none;
}



.landing-page3 .landing-menu div a::before {
	content: ' ';
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.25rem;
	border-radius: 1rem;
	display: inline-block;
	transform: translateY(-20%);
	vertical-align: middle;
	/* background: var(--white); */
	border: 1px solid rgba(255, 255, 255, 0);
	/* background: radial-gradient(
		circle,
		var(--white) 0%,
		var(--colour1) 50%,
		var(--white) 100%
	); */

	transition: all 0.25s ease-in;
}

.landing-page3 .landing-menu div a:hover {
	padding-left: 0.5rem;
	border: 1px solid var(--colour1);
	
	background: radial-gradient(
		circle,
		var(--white) 0%,
		var(--colour1) 50%,
		var(--white) 100%
	);

}


.landing-page3 .landing-menu h1 {


	font-size: calc(5rem + 3vw);
  font-family: var(--menu);
  padding: 0 2rem 0 0;
  cursor: pointer;
  transition: linear 0.125s;
  letter-spacing: -4px;
  word-spacing: 1rem;
  width: max-content;
  font-weight: 600;
  color: var(--black);


	margin: 0;

z-index: 1;
}



.landing-page3 .landing-menu h1:hover {
	/* paint-order: stroke fill; */
	/* -webkit-text-stroke-color: var(--black);
	-webkit-text-stroke-width: 0.125rem; */
	/* color: var(--white); */
	/* text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black),
		-1px 1px 0 var(--black), 1px 1px 0 var(--black); */
color: var(--colour1);
			text-shadow: -1px -1px 0 var(--colour1), 1px -1px 0 var(--colour1),
		-1px 1px 0 var(--colour1), 1px 1px 0 var(--colour1);

transition: all 0.125s ease-in;

}



/* --------background img-gallery-------- */
.img-gallery__wrapper {
	width: 150%;
}

.img-gallery__wrapper img {
	opacity: 0;
	width: 260px;
	height: auto;
}

.img-gallery__wrapper img:hover {
	opacity: 1;
	transition: 0.15s linear;
}

#img-test {
	position: absolute;
	right: 0;
	bottom: 0;
	/* object-fit: cover;
	object-position: 80% 0; */
	z-index: -1;
	/* scale: 2.5; */
	width: 100%;
	height: auto;
}