@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--menu: 'Roboto Flex', sans-serif;
	--body: 'Roboto', sans-serif;
	--filter: 'Roboto Mono', serif;
	--schedule: 'Roboto Condensed', 'Arial Narrow', serif;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	--black: #0f0f0f;
	--grey1: #8c8c8c;
	--grey2: #b0b0b0;
	--white: #ffffff;
	--yellow1: #fff200;
	--yellow2: #fff98b;
	--yellow3: #eee986;
	--green1: #a6ff00;
	--green2: #deffa0;
	--green3: #d3f19c;
	--blue1: #57fff4;
	--blue2: #b9fffa;
	--blue3: #5ce3fb;
	--orange1: #ffa126;
	--orange2: #ffba66;
	--orange3: #ebaa5c;
	--fade-in-effect: fadeIn 1s;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	font-size: 16px;
	font-family: var(--body-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

::selection {
	background: var(--black);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.demo a {
	display: block;
}

/* top menu variation 01 */

.layout {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

.top-menu-nav {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	flex-flow: row wrap;
	font-family: var(--menu);
}

.top-menu-nav article,
.top-menu-nav details {
	width: calc(100% / 8);
	padding: 1rem;
}

.top-menu-nav h1 {
	margin: 0;
	font-size: 1rem;
	/* font-size: 1.25rem; */
	font-weight: 400;
	font-weight: normal;
	/* font-family: var(--filter); */
}

.top-menu-nav article + article h1:not(.lang h1) {
	font-weight: bold;
	font-size: 1rem;
}

.top-menu-nav ul {
	list-style: none;
	padding: 0;
	margin: 0.5rem 0;
}

.top-menu-nav li::first-letter,
.top-menu-nav article + article h1::first-letter {
	text-transform: capitalize;
}

.top-menu-nav li:hover {
	background: var(--yellow1);
}

.home {
	/* background-image: url("logo-1.svg"); */
	background-repeat: no-repeat;
	background-position: center;
}

.home a {
	text-decoration: none;
}

.home span {
	display: inline-flex;
}

.home h1 + h1 {
	font-weight: bold;
}

.nested-menu {
	cursor: pointer;
}

.lang a:first-child {
	font-weight: bold;
}

.lang a:first-child::after {
	color: var(--black);
	content: '/';
	margin: 0 0.25rem;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.lang a + a {
	color: var(--grey1);
}

a {
	cursor: pointer;
	color: var(--black);
}

/* landing  page */

.landing-menu {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;
	height: 100%; */
}

.landing-page .landing-menu span {
	font-family: var(--body);
	font-weight: normal;
}

.landing-page .landing-menu h1,
.landing-page .landing-menu a {
	display: inline;
	font-size: 5rem;
}

.landing-page .landing-menu h1 {
	text-transform: uppercase;
	font-weight: normal;
	padding-right: 2rem;
}

.landing-page .landing-menu a {
	font-weight: 200;
	margin-left: -4px;
	padding: 0 2rem;
}

.landing-page .landing-menu a + a {
	border-left: 1px solid var(--black);
}

.landing-page .landing-menu span:nth-child(1) h1 {
	background: var(--yellow1);
}

.landing-page .landing-menu span:nth-child(1) a {
	background-image: var(--yellow2);
	/* background: #ffffff;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 249, 139, 1) 90%,
		rgba(255, 242, 0, 1) 100%
	); */
}

.landing-page .landing-menu span:nth-child(1) a {
	background: var(--yellow2);
}

.landing-page .landing-menu span:nth-child(2) h1 {
	background: var(--green1);
}

.landing-page .landing-menu span:nth-child(2) a {
	background: var(--green2);
	/* background: #ffffff;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(222, 255, 160, 1) 90%,
		rgba(166, 255, 0, 1) 100%
	); */
}

.landing-page .landing-menu span:nth-child(3) h1 {
	background: var(--blue1);
}

.landing-page .landing-menu span:nth-child(3) a {
	background: var(--blue2);
}

.landing-page .landing-menu span:nth-child(4) h1 {
	background: var(--orange1);
}

.landing-page .landing-menu span:nth-child(4) a {
	background: var(--orange2);
}

.landing-page2 {
	height: 100vh;
	width: 100vw;
}

.landing-page2 .top-menu-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landing-page2 .top-menu-nav .lang {
	display: flex;
	flex-direction: row;
}

.landing-page2 .top-menu-nav .lang h1 + h1 {
	color: var(--grey2);
	margin-left: 0.25rem;
}

.landing-page2 .landing-menu {
	font-size: 4rem;
	margin: 1rem 0;
}

.landing-page2 .landing-menu span {
	/* margin: 1rem 0; */
	padding: 1rem;
	width: 100%;
	font-family: var(--body);
	display: grid;
	grid-template-columns: min-content auto;
}

.landing-page2 .landing-menu h1 {
	color: #000;
	font-size: 8rem;
	grid-column: 1;
	padding-right: 2rem;
	cursor: pointer;
}

.landing-page2 .landing-menu h1:hover {
	paint-order: stroke fill;
	-webkit-text-stroke-width: 0.75rem;
	color: var(--black);
	-webkit-text-stroke-color: var(--black);
}

.landing-page2 .landing-menu h1::first-letter {
	text-transform: uppercase;
}

.landing-page2 .landing-menu a {
	font-size: calc(0.5em + 0.5vw);
	border: 1px solid var(--grey1);
	padding: 0 1rem 0.25rem 1rem;
	width: fit-content;
	box-shadow: var(--black) 0px 0px 2px 6px inset;
	box-shadow: var(--grey1) 0px 0px 4px 0px inset;
	border-radius: 2px;
	background: var(--white);
	color: var(--grey2);
}

.landing-page2 .landing-menu a:hover {
	background-color: var(--green1);
}

.landing-page2 .landing-menu a:nth-of-type(even) {
	margin-left: 1.5rem;
}

.landing-page2 .landing-menu a + a {
	/* margin-left: -1px; */
	margin-top: -1px;
}

.landing-page2 .landing-menu div {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	mix-blend-mode: darken;
}

.landing-page2 .landing-menu h1,
.landing-page2 .landing-menu a {
	margin: 0;
}

/* landing 3 */
.landing-page3 {
	height: 100vh;
	width: 100vw;
}

.landing-page3 .top-menu-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landing-page3 .top-menu-nav .lang {
	display: flex;
	flex-direction: row;
}

.landing-page3 .top-menu-nav .lang h1 + h1 {
	color: var(--grey2);
	margin-left: 0.25rem;
}

.landing-page3 .landing-menu {
	font-size: 4rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-page3 .landing-menu div {
	align-items: center;
	display: flex;
	flex-direction: column;
	mix-blend-mode: darken;
}

.landing-page3 .landing-menu span {
	padding: 1rem;
	width: 100%;
	font-family: var(--body);
	display: grid;
	grid-template-columns: min-content 1fr;
}

.landing-page3 .landing-menu h1 {
	font-size: calc(4rem + 1vw);
	padding: 0.25rem 2rem;
	cursor: pointer;
	transition: linear 0.25s;
	-webkit-text-stroke-color: var(--black);
	color: var(--black);
	-webkit-text-stroke-width: 0.55rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: max-content;
}

.landing-page3 .landing-menu h1:hover {
	paint-order: stroke fill;
	-webkit-text-stroke-width: 0.75rem;
}

.landing-page3 .landing-menu h1::first-letter {
	text-transform: uppercase;
}


.landing-page3 .landing-menu span div {
	align-items: flex-start;
}

.landing-page3 .landing-menu a {
	font-size: calc(1rem + 0.75vw);
	border: 1px solid var(--grey1);
	padding: 0 1rem 0.25rem 1rem;
	width: fit-content;
	box-shadow: var(--black) 0px 0px 2px 6px inset;
	box-shadow: var(--grey1) 0px 0px 4px 0px inset;
	border-radius: 2px;
	background: var(--white);
	color: var(--grey2);
	display: block;
}

.landing-page3 .landing-menu a:hover {
	background-color: var(--green1);
}

.landing-page3 .landing-menu a:nth-of-type(even) {
	margin: 0 0.5rem;
}

.landing-page3 .landing-menu a + a {
	/* margin-left: -1px; */
	margin-top: -1px;
}

.landing-page3 .landing-menu h1,
.landing-page3 .landing-menu a {
	margin: 0;
}



.landing-page3 footer {
	font-size: 0.85rem;
	font-family: var(--body);
	width: 100%;
}


.landing-page3 .sticky-scroll {
	position: fixed;
	right: 1rem;
	bottom: 4rem;
	width: 124px;
	height: 200px;
	/* background-color: var(--yellow1);
	clip-path: path('M-10,-10 L 50,150 L 250,150 Z'); */
}

.landing-page3 .sticky-scroll svg {
	width: inherit;
	height: inherit;
}

.landing-page3 footer .footer-banner {
	position: absolute;
	bottom: 0;
	left: 0;
	justify-content: space-between;
	width: inherit;
	padding: 4px 1rem;
	border: 1px solid var(--yellow1);
	border-style: solid none;
	background: var(--yellow3);
}

.landing-page3 footer .footer-banner,
.landing-page3 footer .footer-banner span {
	display: flex;
	flex-direction: row;
}

.landing-page3 footer .footer-banner span {
	justify-content: flex-end;
}

.landing-page3 footer .footer-banner .tag {
	font-weight: 200;
}

.landing-page3 footer .schedule {
	font-family: var(--schedule);
}

.landing-page3 footer p {
	margin: 0;
}

.landing-page3 footer .schedule p + p {
	margin-left: 0.25rem;
	font-weight: 200;
}

@media (max-width: 1240px) {
	.landing-page3 .landing-menu span {
		display: grid;
		grid-template-rows: min-content 1fr;
		grid-template-columns: 1fr;
	}

	.landing-page3 .landing-menu h1,
	.landing-page3 .landing-menu div {
		align-content: center;
		margin: 0 auto;
	}
}

@media (max-width: 780px) {
}

@media (max-width: 640px) {
	.landing-page3 .landing-menu h1 wb {
		word-break: break-all;
		display: block;
	}

	.landing-page3 .landing-menu h1 wb::before {
		content: '-';
	}
}
