@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--menu: 'Roboto Flex', sans-serif;
	--body: 'Roboto', sans-serif;
	--filter: 'Roboto Mono', serif;
	--category-font: '', monospace;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	--black: #0f0f0f;
	--grey1: #8c8c8c;
	--grey2: #b0b0b0;
	--white: #ffffff;
	--yellow1: #FFF200;
	--fade-in-effect: fadeIn 1s;
	--font-size-sm: clamp(0.5rem, 0.45vi + 0.39rem, 0.75rem);
	font-size: 16px;
	font-family: var(--body-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

::selection {
	background: var(--black);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.demo a {
	display: block;
}

.layout {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

.top-menu-nav {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	flex-flow: row wrap;
	font-family: var(--menu);
}

.top-menu-nav article, .top-menu-nav details {
	width: calc(100% / 8);
	padding: 1rem;
}

.top-menu-nav h1 {
	margin: 0;
	font-size: 1rem;
	/* font-size: 1.25rem; */
	font-weight: 400;
	font-weight: normal;
	/* font-family: var(--filter); */
}

.top-menu-nav article + article h1:not(.lang h1) {
	font-weight: bold;
	font-size: 1rem;
	
}

.top-menu-nav ul {
	list-style: none;
	padding: 0;
	margin: 0.5rem 0;
}

.top-menu-nav li::first-letter, .top-menu-nav article + article h1::first-letter {
text-transform: capitalize;
}

.top-menu-nav li:hover {
	background: var(--yellow1);
}

.home {
	/* background-image: url("logo-1.svg"); */
	 background-repeat: no-repeat;
	  background-position: center;
}

.home a {
	text-decoration: none;
}

.home span {
	display: inline-flex;
}

.home h1 + h1 {
	font-weight: bold;
	dext
}

.nested-menu {
	cursor: pointer;
}

.lang a:first-child {
font-weight: bold;
}

.lang a:first-child::after {
	color: var(--black);
	content: '/';
	margin: 0 0.25rem;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
}

.lang a + a {
	color: var(--grey1);
}

a {
	cursor: pointer;
	color: var(--black);
}

@media (max-width: 1240px) {
}

@media (max-width: 780px) {
}

@media (max-width: 640px) {
}
