:root {
  --primary-font: "Helvetica Neue Regular", "Helvetica Neue", sans-serif;
  --secondary-font: "Newsreader", "Times New Roman", "Times", serif;
  --text-color: #FFF;
  --second-color: #F7C58B;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--primary-font);
  color: var(--text-color);
  /* letter-spacing: -0.01em; */
  /* cursor: ns-resize; */
  /* --accent-color: #E2EECE; */
  /* --text-color-secondary: #ECECEC; */
  /* --background-color: #f5e9d2; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

::selection {
  /* color: var(--text-color-secondary);
  background: var(--text-color); */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(127deg, #191CFF, #7800FF, #FEBDFF);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 100%
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover, .active {
  background-color: rgba(0, 255, 255, 0.5);
  transition: 0.15s ease-in-out;
}

/* PAGE LAYOUT*/
div.page-layout {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

/* TOP BANNER */
header {
  grid-column: 1 / 4;
  grid-row: 1;
  border-bottom: 1px solid var(--text-color);
  padding: 0.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header, footer {
  background-color: rgba(255, 255, 255, 0.3);
}

header span {
  display: flex;
  align-items: center;
}

header span:first-of-type {
  flex-grow: 1;
}

span div+a {
  margin-right: 0.75em;
  margin-left: 0.25em;
}

span:first-of-type div+a, span p {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

span div+a {
  margin-right: 0.55em;
  margin-left: 0;
}

header span p, footer span p {
  margin-top: 0;
  margin-bottom: 0;
}

div.circle-solid {
  width: 1em;
  /* width: 100%; */
  height: 1em;
  background: var(--text-color);
  border-radius: 1em;
  animation: blink 1s cubic-bezier(0, 0, 0.63, 0.56) infinite;
}

/* MAIN BUBBLES */
main {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(4, auto);
  width: 100vw;
  grid-gap: 0.25em;
  padding: 0.25em;
}

main nav {
  display: flex;
  flex-direction: column;
  border-bottom: 2px dotted var(--text-color);
  /* margin: 1em; */
}

main nav h1 {
  margin: 0 0 0.25em 0;
  font-size: calc(0.45em + 0.5vw);
  padding: 0.25em;
  width: fit-content;
}

main nav a {
  padding: 0.25em 10px;
  font-size: 3em;
}

main nav:last-of-type {
  border-bottom: 0;
}

article {
  border-radius: 1em;
  border: 1px solid var(--text-color);
}

main article:nth-child(8) {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 0;
  border: 0;
  box-shadow: 0em 0em rgba(255, 255, 0, 1);
}

main article:nth-child(8) a {
  border-bottom: 2px dotted var(--text-color);
}

footer {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  border-top: 1px solid var(--text-color);
  padding: 0.25em;
}

footer, footer span {
  display: flex;
  align-items: center;
}